@import '~assets/css/variable.scss';
@import '~assets/css/styles.scss';

.wrapper {
  display: flex;
  flex-direction: column;

  .datePicker {
    margin: 50px;
  }

  .heading {
    margin-bottom: 50px;
  }

  .timeOptionContainer {
    margin: auto;
  }

  .buttonWrapper {
    display: flex;
    justify-content: space-between;
    margin-top: auto;

    @include media(S) {
      margin-top: 0;
    }
    
    .previousButton {
      @include button(WhiteBackground);
    }

    .nextButton {
      @include button(BlackBackround);
    }
  }
}
