@import '~assets/css/variable.scss';
@import '~assets/css/styles.scss';

.container {
  margin: 0 50px;
  margin-top: 100px;

  @include media(S) {
    margin-top: 50px;
  }

  .title {
    display: inline-block;
    font-size: 24px;

    &::after {
      content: '';
      display: block;
      margin-top: 2px;
      border: 2px solid $primaryColor;
    }
  }
}
