@import '~assets/css/variable.scss';

@mixin media ($canvas) {
  @if $canvas == S {
    @media only screen and (max-width: 900px) { @content; }
  }
}

@mixin button($canvas) {
  @if $canvas == WhiteBackground {
    background-color: $secondaryColor;
    border: $primaryColor 1px solid;
    font-size: 18px;

    @include media(S) {
      margin-top: 70px;
      font-size: 14px;
    }

    &:hover {
      background-color: $hoverEffectColor;
    }
  }
  
  @if $canvas == BlackBackround {
    background-color: $primaryColor;
    color: $secondaryColor;
    font-size: 18px;
    min-width: 400px;

    @include media(S) {
      margin-top: 70px;
      font-size: 14px;
      min-width: 150px;
    }

    &:hover {
      background-color: $hoverEffectColor;
    }
  }
}
