@import '~assets/css/variable.scss';
@import '~assets/css/styles.scss';

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;

  .heading {
    margin-bottom: 20px;
  }

  .paymentMethod {
    font-size: 16px;
    color: $locationColor;
  }

  .icon {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    line-height: 20px;
    vertical-align: middle;
  }

  .input {
    width: 100%;
    border: none;
    font-size: 16px;
    line-height: 45px;
    border-bottom: $locationColor 1px solid;

    &:focus {
      outline: none;
    }
  }

  .cardNumber {
    display: flex;

    .cardType {
      font-size: 16;
      vertical-align: middle;
      margin: auto 0;
    }
  }

  .smallInputWrapper {
    display: flex;
    justify-content: space-between;
    padding: 0;
    

    .smallInput {
      margin: 0;
      max-width: 60px;
      padding-right: 150px;
      border: none;
      font-size: 16px;
      line-height: 45px;
      border-bottom: $locationColor  1px solid;

      @include media(S) {
        padding-right: 70px;
      }

      &:focus {
        outline: none;
      }
    }
  }

  .buttonWrapper {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    margin-top: 70px;

    @include media(S) {
      margin-top: 0;
    }

    .previousButton {
      @include button(WhiteBackground);
    }

    .submitButton {
      @include button(BlackBackround);
    }
  }
}
