@import '~assets/css/variable.scss';
@import '~assets/css/styles.scss';

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .checkCircle {
    color: $successIconGreen;
    height: 130px;
    width: 130px;
    margin-bottom: 50px;

    @include media(S) {
      margin-top: 50px;
    }
  }

  .checkRequestButton {
    @include button(BlackBackround);
    margin-top: 70px;
  }
}
